<div>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="user.userName" matInput placeholder="Name">
        <!-- <mat-hint>Please enter a Firstname</mat-hint>-->
    </mat-form-field>

</div>
<div>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>E-Mail Address</mat-label>
        <input [(ngModel)]="user.userMail" matInput placeholder="E-Mail Address">
        <!-- <mat-hint>Please enter a Firstname</mat-hint>-->
    </mat-form-field>

</div>

<input class="inputChooseFile" type="file" (change)="chooseFile($event)">
<button class="inputChooseFile" (click)="addData()">Add Data</button>

<button (click)="saveUser()">speicerhn</button>