.unreadClass {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    margin-left: 5px;
    background-color: gray;
}