<h1 mat-dialog-title>Create Channel</h1>


<div mat-dialog-content class="flexColumn">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="channel.channelName">
    </mat-form-field>


    <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" matInput [(ngModel)]="channel.channelDescription">
    </mat-form-field>

    <mat-form-field>
        <mat-label>User</mat-label>
        <input type="text" matInput>
    </mat-form-field>
</div>




<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button [mat-dialog-close]="" [disabled]="!channel.channelName" cdkFocusInitial (click)="createNewChannel()">Create new Channel</button>
</div>