<h1 mat-dialog-title>Create Channel</h1>


<div mat-dialog-content class="flexColumn">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="channel.channelName">
    </mat-form-field>


    <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" matInput [(ngModel)]="channel.channelDescription">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Participants</mat-label>
        <input matInput [(ngModel)]="inputParticipants" (ngModelChange)="this.filterUser()">
    </mat-form-field>

    <div class="all-users-div" id="all-users">
        <ul>
            <li *ngFor="let User of filteredUsers; let i = index">
                <app-single-channel-sidenav-link [class.isAdded]="this.User.payload.doc.data().isAdded" class="single-channel" [channelName]="this.User.payload.doc.data().userName" (click)="test(this.User.payload.doc.id)"></app-single-channel-sidenav-link>
            </li>
        </ul>
    </div>
</div>




<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button [mat-dialog-close]="" [disabled]="!channel.channelName" cdkFocusInitial (click)="createNewChannel()">Create new Channel</button>
    <button (click)="hallo()">terst</button>
</div>