<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" [opened]="false" mode="side">
        <div class="logo-container">
            <!-- <img src="../../assets/img/1.png"> -->
        </div>
        <!--<p class="allButtons" (click)="viewAllChannel()">
            <span *ngIf="!viewAllChannels" class="material-icons arrow">chevron_right</span>
            <span *ngIf="viewAllChannels" class="material-icons arrow">expand_more</span> Channels
        </p>-->
        <ul class="menu-items">
            <li>
                <span>AGBs</span>
            </li>
        </ul>


    </mat-drawer>

    <div class="example-sidenav-content">
        <p>
            <mat-toolbar color="primary">
                <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon class="menu-icon">menu</mat-icon>
                </button>
                <span>Simple Slack Clone</span>
            </mat-toolbar>
        </p>
    </div>
</mat-drawer-container>
<div class="login-div">
    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" class="tab-group">
        <mat-tab label="Login" class="login-tab">
            <h1>Login</h1>
            <div class="firebaseui-container" id="firebaseui-auth-container"></div>
        </mat-tab>
        <mat-tab label="Register">
            <h1>Register</h1>
            <form class="example-form" id="form-1">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>First name</mat-label>
                                <input matInput [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput [(ngModel)]="user.userMail" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <button mat-raised-button color="primary" (click)="addNewUser()">Continue</button>
            </form>
            <div id="form-2" class="d-none">
                <div class="firebaseui-container" id="firebaseui-auth-container-2"></div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>