.firebaseui-container {
    top: 200px;
    width: 100%;
}

.header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 220px;
}