<!--<div class="main-div">
    <h1>{{UserName}}</h1>
    <img class="profile-img" src="{{profileImg}}" id="profile-img">
    <div class="btn-div">
        <input class="inputChooseFile" type="file" (change)="chooseFile($event)">
        <input class="inputChooseFile" type="file" (change)="chooseFile($event)">
        <button class="inputChooseFile" (click)="addData()">Add Data</button> </div>
</div>-->
<div *ngIf="this.User">
    <img *ngIf="!userPP" src="./../../assets/img/blank-pp.webp" alt="">
    <img *ngIf="userPP" src="{{userPP}}" alt="">
    <h1>Name: {{UserName}}</h1>
    <h2> E-Mail: {{UserMail}}</h2>
    <h2 *ngIf="">Status:</h2>
</div>
<button *ngIf="activeUser" (click)="this.openEditUser()">Daten ändern</button>
<button *ngIf="!activeUser" (click)="this.openDialogForDirectMessage()">Nachricht schreiben</button>