<!-- <div class="main-div">
    <h1>{{UserName}}</h1>
    <img class="profile-img" src="{{profileImg}}" id="profile-img">
    <div class="btn-div">
        <input class="inputChooseFile" type="file" (change)="chooseFile($event)">
        <input class="inputChooseFile" type="file" (change)="chooseFile($event)">
        <button class="inputChooseFile" (click)="addData()">Add Data</button> </div>
</div> -->

<div *ngIf="this.User">
    <img *ngIf="User.userPP" src="{{User.userPP}}" alt="">
    <h1>Name: {{User.userName}}</h1>
    <h2> E-Mail: {{User.userMail}}</h2>
    <h2 *ngIf="User.status">Status: {{User.status}}</h2>


</div>

<button *ngIf="activeUser" (click)="this.openEditUser()">Daten ändern</button>

<button *ngIf="!activeUser" (click)="this.openDialogForDirectMessage()">Nachricht schreiben</button>




<button (click)="test()">test</button>