x
<div class="router-container">
    <mat-card class="channel-name-div">
        <div class="single-div header">
            <mat-icon>lock</mat-icon>
            <div class="channelHeadline">
                <h2> {{channel.channelName}}</h2>
                <h3>{{channel.channelDescription}}</h3>

            </div>
        </div>
        <div class="single-div">
            <span> {{channel.participants.length}} Mitglieder</span>

            <button (click)="test()">test</button>
        </div>
    </mat-card>

    <div class="all-messages">
        <!-- <app-single-message *ngFor="let message of this.allMessages; let i = index" [messageOfChannel]="message"></app-single-message> -->
        <div class="message" *ngFor="let message of allMessages">
            <p style="cursor: pointer;" (click)="openCurrentUser(message.userID)"> {{message.userName}}</p>
            <p>{{message.text}}</p>
            <img style="height: 50px; width: auto;" src="{{message.imgDownloadURL}}" alt="">
        </div>
    </div>
    <div class="keyboard">
        <div class="inputfield">
            <button (click)="TestCodeMessage()"> &lt;/&gt;</button>
            <input [(ngModel)]="message" type="text" [class.codeMessage]="this.code">
        </div>
        <button (click)="sendMessage()" class="addButton" mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
            <mat-icon>send</mat-icon>
        </button>
    </div>
    <img *ngIf="imgAvailable" src="{{imgDownloadURL}}" class="inputChooseFile">
    <input class="inputChooseFile" type="file" (change)="chooseFile($event)">
    <button class="inputChooseFile" (click)="addData()">Add Data</button>
</div>