<div class class="router-container" [class.darkmode]="this.darkMode">

    <mat-card class="channel-name-div">
        <div class="single-div header">
            <mat-icon>lock</mat-icon>
            <div class="channelHeadline">
                <h2> {{channel.channelName}}</h2>
                <h3>{{channel.channelDescription}}</h3>

            </div>
        </div>
        <div class="single-div">
            <span> {{channel.participants.length}} Mitglieder</span>
            <button (click)="test()"> sffds</button>
        </div>
    </mat-card>
    <div class="all-messages">
        <div class="message" *ngFor="let message of allMessages; let i = index" #messageElements>
            <p style="cursor: pointer;" (click)="openCurrentUser(message.userID)"> {{message.userName}}</p>
            <p [innerHTML]="message.text"></p>
            <img *ngFor="let img of message.allImages" style="height: 50px; width: auto;" src="{{img}}" alt="">
            <div class="message-menu">
                <button (click)="deleteMessage(i)">
                    <span class="material-icons">
                    clear
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="inputfield">
        <editor [(ngModel)]="message" [init]="{
            base_url: '/tinymce', 
            suffix: '.min',
            selector: 'textarea',
            menubar: '',
            plugins: [
            'link', 'lists', 'anchor', 
            'wordcount', 'visualblocks', 'visualchars', 'code', 'insertdatetime',
             'table', 'emoticons', 'codesample'
          ],
            toolbar: 'undo redo | emoticons | bold italic underline | codesample | blockquote | link | numlist bullist',
            statusbar: false,
            height: 200,
            max_width: 1000,
            min_width: 100
        }" required></editor>
        <div class="statusbar">
            <div class="img-div">
                <app-image-preview></app-image-preview>
                <div class="outer-div" *ngFor="let file of allFiles; let i = index">
                    <div class="main-div">
                        <span>{{allFiles[i].name}}</span>
                    </div>
                    <div class="d-none" (click)="deletePicture(i)">x</div>
                </div>
            </div>
            <input class="btn" type="file" (change)="chooseFile($event)">
            <button [disabled]="!this.message" class="btn" (click)="sendMessage()">
                <img src="./../../assets/img/send.png">
            </button>
        </div>
    </div>
</div>